:root {
  font-size: 10px;
}

.icon {
  padding: 0 12rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  flex: 1;
  justify-content: space-between;
}

.header {
  z-index: 100000;
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  display: flex;
  flex-direction: column;
}
.logo_title {
  color: #545454;
  font-family: Georgia;
  font-size: 3.2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.192rem;
}
.logo_subtitle {
  margin-top: 1rem;
  color: #292929;
  text-align: center;
  font-family: Georgia;
  font-size: 1.3rem;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.13rem;
}

.menu {
  display: flex;
  width: 44.3rem;
}

.list {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: space-between;
}
.list .list_item {
  display: flex;
  align-items: center;
}
.list .list_item .list_link {
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}
.list .list_item .list_link:hover {
  cursor: pointer;
  color: #292929;
}
.list .list_item_active {
  color: #292929;
  border-bottom: solid 0.3rem #F1CDB3;
}
.list .list_item_disabled {
  color: #545454;
}

.main {
  display: flex;
  flex-direction: column;
}

.pets {
  padding: 20rem 4rem 10rem 4rem;
  background-color: #F6F6F6;
}
.pets_wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.pets_title {
  text-align: center;
  color: #545454;
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.21rem;
}
.pets_title span {
  display: block;
  text-align: center;
  letter-spacing: 0.2rem;
}
.pets_content {
  justify-content: center;
  max-height: 1365px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  column-gap: 4rem;
  row-gap: 3rem;
}
.pets .pets_card {
  background-color: #FAFAFA;
  border-radius: 0.9rem;
  display: flex;
  flex-direction: column;
}
.pets .pets_card:hover {
  cursor: pointer;
}
.pets .pets_card-image {
  width: 100%;
}
.pets .pets_card-title {
  text-align: center;
  margin: 3rem 3rem;
  font-family: Georgia;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  letter-spacing: 0;
}
.pets .pets_card-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  align-items: center;
}
.pets .pets_card-button {
  background-color: transparent;
  box-shadow: inset 0 0 2px #F1CDB3;
  padding: 1.5rem 4.5rem;
  margin-top: 4rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.06rem;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0;
}
.pets .pets_card-button:hover {
  box-shadow: none;
  background-color: #FDDCC4;
}
.pets .navigation {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.pets .navigation_active-button {
  box-shadow: inset 0 0 3px #F1CDB3;
  border: none;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  text-align: center;
  padding: 12px;
  background: none;
  outline: none;
  font-family: Georgia;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #4C4C4C;
}
.pets .navigation_active-button:hover {
  background-color: #F1CDB3;
  cursor: pointer;
}
.pets .navigation_counter {
  box-shadow: inset 0 0 3px #F1CDB3;
  border: none;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  text-align: center;
  padding: 12px;
  background: none;
  outline: none;
  font-family: Georgia;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #4C4C4C;
  background-color: #F1CDB3;
}
.pets .navigation_counter:hover {
  background-color: #F1CDB3;
  cursor: pointer;
}
.pets .navigation_disapled-button {
  box-shadow: inset 0 0 3px #F1CDB3;
  border: none;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  text-align: center;
  padding: 12px;
  background: none;
  outline: none;
  font-family: Georgia;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #CDCDCD;
  box-shadow: inset 0 0 3px #CDCDCD;
}
.pets .navigation_disapled-button:hover {
  background-color: #F1CDB3;
  cursor: pointer;
}
.pets .navigation_disapled-button:hover {
  background: none;
}

.footer {
  background: url(../../assets/noise_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 4rem;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  cursor: pointer;
}
.footer_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 16rem;
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.footer_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6rem;
  padding-top: 1.5rem;
}
.footer_title {
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: normal;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.21rem;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
.footer_info {
  display: flex;
  justify-content: space-between;
  padding-right: 2.5rem;
}
.footer .info_text {
  font-family: Georgia;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #F1CDB3;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer_column {
    row-gap: 3rem;
    margin-bottom: 7rem;
  }

  .footer_info {
    align-items: center;
  }

  .hidden_under-1280 {
    visibility: hidden;
  }

  .wrapper {
    margin: 0 3rem;
  }

  .pets {
    padding: 20rem 4rem 7.6rem 4rem;
  }

  .footer_wrapper {
    column-gap: 6rem;
  }

  .pets_content {
    margin-top: 3rem;
  }

  .footer {
    padding-top: 1.5rem;
  }

  .navigation {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .pets_title {
    margin-bottom: 3rem;
  }

  .footer {
    padding-top: 4rem;
  }

  .pets_content {
    margin-bottom: 2rem;
  }

  .hidden_under-1280 {
    visibility: visible;
  }

  .pets {
    padding: 20rem 4rem 10rem 4rem;
  }

  .footer_wrapper {
    column-gap: 16rem;
  }

  .wrapper {
    margin: 0 4rem;
  }

  .navigation {
    margin-top: 60px;
  }
}

/*# sourceMappingURL=pets.css.map */
